.successBackground{
    background : #C6F6D5;
}

.successTextColor {
    color: #276749;
}

.successBorderColor{
    border-color:#276749;
}

.errorBackground {
    background : #fff5f5;
}

.errorTextColor {
    color: #c53030;
}

.errorBorderColor {
    border-color:#fc8181;
}
